@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.myError input {
	box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    background: #fff url(../images/invalid-asterisk.png) no-repeat 98% center;
}
.myError span{
	color: #b03535;
}
.modal-content{
	padding: 10px 50px 10px 20px;
}
.myChildStore{
	background-color: #85C441;
}

.myTable table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.myTable {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.myTable table td {
	padding: 3px 10px;
}

.myTable table th {
	padding: 13px;
}

.myTable table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #337AB7
		), color-stop(1, #00557F));
	background: -moz-linear-gradient(center top, #337AB7 5%, #00557F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#337AB7',
		endColorstr='#00557F');
	background-color: #337AB7;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	border-left: 0px solid #337AB7;
}

.myTable table thead th:first-child {
	border: none;
}

.myTable table tbody td {
	color: black;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
}

.myTable table tbody td:first-child {
	border-left: none;
}

.myTable table tbody tr:last-child td {
	border-bottom: none;
}

.mySortOrder:after{
	content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.mySortOrder.reverse:after{
	content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}